---
import { twMerge } from 'tailwind-merge'

type Props = {
	text: string
	pathname: string
	active: boolean
}

const { pathname, text, active } = Astro.props
---

<li
	class={twMerge(
		'text-xl font-bold uppercase text-zinc-500 md:text-2xl hover:text-black',
		active ? 'text-black' : null
	)}
>
	<a href={pathname}>{text}</a>
</li>
