---
import { getCollection } from 'astro:content'
import Title from '@components/Title.astro'
import PageLayout from '@layouts/PageLayout.astro'
import PostList from '@components/Blog/Post/PostList.astro'
import FeaturedList from '@components/Blog/Featured/FeaturedList.astro'
import { i18n } from '@i18n/index'

const { t, locale } = i18n(Astro.url)

const blogEntries = await getCollection('blog', (entry) => entry.slug.startsWith(locale.slice(0, 2) + '/'))
const featured = blogEntries.filter((entry) => entry.data.featured).slice(0, 2)
---

<PageLayout title="Blog" class="gap-6 md:gap-8">
	<Title type="h2">{t('blog.featured')}</Title>
	<FeaturedList list={featured} />

	<Title type="h2">{t('blog.allPosts')}</Title>
	<PostList list={blogEntries} />
</PageLayout>
