---
import Title from '@components/Title.astro'
import Button from '@components/Button.astro'
import Wrapper from '@components/Wrapper.astro'
import PageLayout from '@layouts/PageLayout.astro'
import Paragraph from '@components/Paragraph.astro'
import { i18n } from '@i18n/index'

const { t, r } = i18n(Astro.url)
---

<PageLayout title={t('menu.home')}>
	<Wrapper class="flex flex-col sm:flex-row">
		<Title
			type="h1"
			set:html={t('home.title')}
			class="overflow-hidden hyphens-manual break-words px-4 py-8 sm:flex-1 sm:self-center md:px-6 lg:flex-[2]"
		/>
		<div
			class="flex flex-col border-t border-black px-4 py-8 sm:flex-1 sm:border-l sm:border-t-0 md:px-6 lg:py-14 lg:pl-8"
		>
			<Paragraph set:html={t('home.description')} />
			<div class="mt-8 flex gap-4">
				<Button as="a" href={r('/about/')} class="w-36" size="large" variant="filled">{t('menu.about')}</Button>
				<Button as="a" href={r('/contact/')} class="w-36" size="large">{t('menu.contact')}</Button>
			</div>
		</div>
	</Wrapper>

	<div class="bg-black text-center text-white">
		<Wrapper class="px-4 py-8 sm:border-x sm:border-white md:px-6 lg:py-14">
			<Title type="h2" class="normal-case">
				{t('home.blog.checkout')}<br />
				<a href={r('/blog/')} class="bg-white uppercase leading-tight text-black">
					{t('blog.name')}
				</a>
			</Title>
			<Paragraph class="mt-8 lg:mt-14">
				{t('home.blog.description')}
			</Paragraph>
		</Wrapper>
	</div>
</PageLayout>
