---
import BorderContainer from '@components/BorderContainer.astro'
import MenuList from '@components/Header/Menu/MenuList.astro'
import Title from '@components/Title.astro'
import { i18n } from '@i18n/index'

const { t } = i18n(Astro.url)
---

<header class="inline">
	<BorderContainer parentClass="border-b dot-background" class="flex-col">
		<Title as="span" type="h1">Tiago Boer Casagrande</Title>
		<Title as="span" type="h1" class="text-right">
			<span class="bg-black leading-tight text-white">{t('header.softwareEngineer')}</span>
		</Title>
	</BorderContainer>
	<BorderContainer as="nav" parentClass="sticky top-0 border-b bg-white" class="overflow-auto md:py-4">
		<MenuList />
	</BorderContainer>
</header>

<style is:global>
	.dot-background {
		background-color: #ffffff;
		background-image: radial-gradient(#000000 1.3px, transparent 1.3px), radial-gradient(#000000 1.3px, #ffffff 1.3px);
		background-size: 52px 52px;
		background-position:
			0 0,
			26px 26px;
	}
</style>
