---
import BorderContainer from '@components/BorderContainer.astro'
import MenuList from '@components/Header/Menu/MenuList.astro'
import Title from '@components/Title.astro'
import { i18n } from '@i18n/index'

const { t } = i18n(Astro.url)
---

<header class="inline">
	<BorderContainer parentClass="border-b" class="flex-col">
		<Title as="span" type="h1">Tiago Boer Casagrande</Title>
		<Title as="span" type="h1" class="text-right">
			<span class="bg-black leading-tight text-white">{t('header.softwareEngineer')}</span>
		</Title>
	</BorderContainer>
	<BorderContainer as="nav" parentClass="z-10 sticky top-0 border-b bg-white" class="overflow-auto md:py-4">
		<MenuList />
	</BorderContainer>
</header>
