---
import type { HTMLTag, Polymorphic } from 'astro/types'
import { twMerge } from 'tailwind-merge'

type Props<Tag extends HTMLTag> = Polymorphic<{
	as: Tag
	parentClass?: string
}>

const { parentClass, class: className, as: Tag = 'div' } = Astro.props
---

<div class={twMerge('border-black', parentClass)}>
	<Tag class={twMerge('container flex p-4 md:p-6 2xl:max-w-screen-xl', className)}>
		<slot />
	</Tag>
</div>
