---
import type { HTMLAttributes } from 'astro/types'
import { twMerge } from 'tailwind-merge'

type Props = HTMLAttributes<'p'>

const { class: className, ...props } = Astro.props
---

<p {...props} class={twMerge('text-lg md:text-xl lg:text-2xl', className)}>
	<slot />
</p>
