---
import type { HTMLAttributes } from 'astro/types'
import { twMerge } from 'tailwind-merge'

type Props = HTMLAttributes<'section'>

const { class: className, ...props } = Astro.props
---

<section {...props} class={twMerge('container md:min-h-screen 2xl:max-w-screen-xl', className)}>
	<slot />
</section>
