---
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'

export type Props = {
	title: string
	description?: string
}

const { title, description } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<title>{title} - by Tiago Boer Casagrande</title>
		{description && <meta name="description" content={description} />}

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body class="fill">
		<div class="container mx-auto border-x border-x-black bg-white">
			<Header />
			<slot />
			<Footer />
		</div>
	</body>
</html>

<style>
	.fill {
		background-image: url('/fill.svg');
		background-repeat: repeat;
	}
</style>
