---
import Footer from '@components/Footer.astro'
import Header from '@components/Header/Header.astro'
import { i18n } from '@i18n/index'

export type Props = {
	title: string
	description?: string
}

const { t, localeKey } = i18n(Astro.url)

const { title, description } = Astro.props
---

<html lang={localeKey}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<title>{title} - {t('meta.by')}</title>
		<meta name="author" content="Tiago Boer Casagrande" />
		{description ? <meta name="description" content={description} /> : null}

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap"
		/>
		<slot name="head" />
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
