---
import BaseLayout from '@layouts/BaseLayout.astro'
import type { BlogSchema as Props } from '@schemas/index'

const { title, description } = Astro.props
---

<BaseLayout title={`${title} - Blog`} description={description}>
	<main>
		<article
			class="prose mx-auto border-x border-x-black p-4 lg:prose-xl prose-a:text-violet-700 prose-blockquote:border-violet-700 md:p-6"
		>
			<slot />
		</article>
	</main>
</BaseLayout>
