---
import type { BlogSchema } from '@schemas/index'
import BaseLayout from '@layouts/BaseLayout.astro'
import { i18n } from '@i18n/index'

type Props = { body: string } & BlogSchema

const { t, locale } = i18n(Astro.url)

const { title, description, body, publishDate } = Astro.props

const readTime = (text: string) => {
	const wpm = 225
	const words = text.trim().split(/\s+/).length
	return Math.ceil(words / wpm)
}
---

<BaseLayout title={`${title} - Blog`} description={t('blog.postAbout') + description}>
	<main class="mx-auto max-w-prose bg-white sm:border-x sm:border-black lg:text-xl">
		<div class="flex flex-col bg-violet-800 px-4 py-6 text-white md:px-6 md:py-8">
			<h1 class="font-display text-3xl uppercase md:text-4xl lg:text-5xl">{title}</h1>
			<p class="mt-4 md:mt-6">{description}</p>

			<hr class="-mx-4 my-4 border-white md:-mx-6 md:my-6" />

			<span class="text-sm lg:text-base"
				>{publishDate.toLocaleDateString(locale, { dateStyle: 'medium' })} - {readTime(body)} {t('blog.read')}</span
			>
		</div>
		<article
			class="prose mx-auto px-4 py-6 lg:prose-xl prose-a:text-violet-800 prose-blockquote:border-violet-800 prose-hr:border-black md:px-6 md:py-8"
		>
			<slot />
		</article>
	</main>
</BaseLayout>
