---
import BaseLayout, { type Props as BaseLayoutProps } from '@layouts/BaseLayout.astro'

type Props = BaseLayoutProps
---

<BaseLayout {...Astro.props}>
	<slot name="head" slot="head" />
	<main>
		<slot />
	</main>
</BaseLayout>
